@model IEnumerable<DALC.VISITA_MEDICA>

@{
    ViewBag.Title = "Visitas";
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<h2>Visitas</h2>

<p>
    @Html.ActionLink("Crear Visita Medica", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            FECHA DE VISITA
        </th>
        <th>
            PACIENTE
        </th>
        <th>
            HORA VISITA
        </th>
        <th>
            CONFIRMACIÓN
        </th>
        <th>
            DESCRIPCIÓN
        </th>
        <th>
            EMPRESA
        </th>
        <th>
            MEDICO A CARGO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_VISITA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORA_VISITA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIRMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPRESA.RAZON_SOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDICO.NOMBRE_COMPLETO)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarVisita", new { id=item.ID_VISITA }) |
            @Html.ActionLink("Enviar Correo Confirmación", "EnviarCorreo", new { id=item.ID_VISITA }) |
            @Html.ActionLink("Borrar", "BorrarVisita", new { id=item.ID_VISITA })
        </td>
    </tr>
}

</table>
@{

    int dias = 1;
    string mes = System.DateTime.Today.ToString().Substring(3, 2);
    <table border="1" align="center" width="100%">
        <tr>
            <td colspan="7" align="center"><a><b>CALENDARIO DE VISITAS DEL MES @mes</b></a></td>
        </tr>
        @for (int i = 1; i <= 5; i++)
        {
            <tr>

                @for (int x = 1; x <= 7; x++)
                {

                    int variable = dias++;
                    string datodia;


                    <td height="200" width="14%">
                        @if (variable <= 9)
                        {
                            datodia = "0" + variable.ToString();
                            <a><b>@datodia</b></a>
                        }
                        else
                        {
                            datodia = variable.ToString();
                            <a><b>@datodia</b></a>
                        }
                        <br />
                        @foreach (var item in Model)
                        {

                            if ((datodia == item.FECHA_VISITA.Substring(0, 2) & mes == item.FECHA_VISITA.Substring(3, 2)))
                            {
                                @Html.DisplayFor(modelItem => item.FECHA_VISITA)
                                <br />

                                if (item.CONFIRMA == "A")
                                {
                                    <a>Aprobada</a>
                                }
                                else
                                {
                                    <a>Pendiente</a>
                                }
                                <br />
                                @Html.DisplayFor(modelItem => item.DESCRIPCION)
                                <br />
                                @Html.DisplayFor(modelItem => item.EMPRESA.DIRECCION)
                                <br />
                            }
                        }

                        @if (variable >= 31)
                        {
                            break;
                        }
                    </td>


                }

            </tr>
        }


    </table>


}
