@model IEnumerable<DALC.USUARIO>

@{
    ViewBag.Title = "MantenedorUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MantenedorUsuario</h2>

<p>
    @Html.ActionLink("Create New", "Agregar Usuario")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUT_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_PATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_MATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPRESA.RAZON_SOCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FICHA_MEDICA.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_USUARIO.ROL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUT_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_PATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_MATERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_NACIMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPRESA.RAZON_SOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FICHA_MEDICA.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_USUARIO.ROL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_USUARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_USUARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_USUARIO })
        </td>
    </tr>
}

</table>
